In [1]:
import numpy as np
import pandas as pd
# read external dataset
df = pd.read_csv('../data/raw/new york 2016-01-01 to 2017-12-31.csv')
df2 = pd.read_csv('../data/raw/new york 2018-01-01 to 2019-12-31.csv')

In [2]:
# append 2018-2019 weather data to 2016-2017 weather external data
df = df.append(df2)[["datetime","tempmin","tempmax","temp","precip","precipcover","windgust","windspeed",
                     "dew","humidity","snow","snowdepth","cloudcover","visibility"]]

In [3]:
df

,datetime,tempmin,tempmax,temp,precip,precipcover,windgust,windspeed,dew,humidity,snow,snowdepth,cloudcover,visibility
0,2016-01-01,1.7,5.8,4.1,0.00,0.00,44.0,23.4,-4.6,53.2,0.0,0.0,71.7,16.0
1,2016-01-02,0.7,4.4,2.2,0.00,0.00,40.0,23.0,-7.7,48.0,0.0,0.0,43.0,16.0
2,2016-01-03,1.6,7.2,3.9,0.00,0.00,42.2,27.0,-5.9,49.5,0.0,0.0,19.8,16.0
3,2016-01-04,-9.2,2.4,-2.3,0.00,0.00,51.6,36.3,-12.3,47.0,0.0,0.0,42.8,16.0
4,2016-01-05,-11.3,-1.8,-6.3,0.00,0.00,44.8,26.5,-18.5,39.8,0.0,0.0,3.9,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2019-12-27,7.5,12.2,10.1,0.00,0.00,31.1,19.6,5.4,73.0,0.0,0.0,70.8,15.7
726,2019-12-28,6.6,10.3,8.3,0.00,0.00,31.7,16.8,1.6,64.5,0.0,0.0,27.7,14.1
727,2019-12-29,4.1,6.4,5.3,5.92,29.17,NaN,14.7,0.0,70.0,0.0,0.0,63.5,13.0
728,2019-12-30,3.2,5.1,4.3,17.08,87.50,61.4,38.9,3.3,93.7,0.0,0.0,95.8,6.1
729,2019-12-31,2.6,6.8,4.7,0.38,4.17,39.1,23.1,1.5,80.7,0.0,0.0,83.5,15.4

In [4]:
# read taxi data after preprocessed
cabs = pd.read_csv('../data/curated/cleaned_data_new.csv')

In [5]:
# merge two data tables together, merge on data column from each table
final = cabs.merge(df,left_on='date', right_on='datetime').drop('datetime', axis = 1)
final

,PULocationID,date,income_rate,total_adjusted_amount,trip_distance,fare_amount,tip_amount,tempmin,tempmax,temp,precip,precipcover,windgust,windspeed,dew,humidity,snow,snowdepth,cloudcover,visibility
0,1,2016-12-04,23.368421,17.300000,0.200000,17.000000,0.000000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
1,4,2016-12-04,0.963068,11.791397,1.767352,9.058118,1.545000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
2,7,2016-12-04,1.088859,10.018121,1.596759,7.714427,1.046629,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
3,8,2016-12-04,1.044638,11.745294,2.463333,9.500000,1.550000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
4,10,2016-12-04,1.278918,16.391960,3.130000,12.400000,2.000000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52817,261,2018-12-26,0.945801,12.800507,2.041007,9.993706,1.593705,0.1,5.8,3.1,0.0,0.0,27.7,17.6,-5.1,55.3,0.0,0.0,48.8,16.0
52818,262,2018-12-26,1.090101,10.061675,1.527449,7.637586,1.250000,0.1,5.8,3.1,0.0,0.0,27.7,17.6,-5.1,55.3,0.0,0.0,48.8,16.0
52819,263,2018-12-26,1.136775,9.666351,1.393139,7.197275,1.170000,0.1,5.8,3.1,0.0,0.0,27.7,17.6,-5.1,55.3,0.0,0.0,48.8,16.0
52820,264,2018-12-26,1.146667,10.911325,1.460328,8.275849,1.361612,0.1,5.8,3.1,0.0,0.0,27.7,17.6,-5.1,55.3,0.0,0.0,48.8,16.0
52821,265,2018-12-26,3.119828,11.066571,1.259130,7.608696,1.460000,0.1,5.8,3.1,0.0,0.0,27.7,17.6,-5.1,55.3,0.0,0.0,48.8,16.0

In [6]:
# to check if there are null values contain in the merged dataset
final.isnull().sum()

PULocationID                0
date                        0
income_rate                 0
total_adjusted_amount       0
trip_distance               0
fare_amount                 0
tip_amount                  0
tempmin                     0
tempmax                     0
temp                        0
precip                      0
precipcover                 0
windgust                 8073
windspeed                   0
dew                         0
humidity                    0
snow                        0
snowdepth                   0
cloudcover                  0
visibility                  0
dtype: int64

In [7]:
# suspecting the null values in windgust is due to no wind on that day
# hence, replacing null values by 0
final['windgust'].fillna(0, inplace = True)

In [8]:
final.describe()

,PULocationID,income_rate,total_adjusted_amount,trip_distance,fare_amount,tip_amount,tempmin,tempmax,temp,precip,precipcover,windgust,windspeed,dew,humidity,snow,snowdepth,cloudcover,visibility
count,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000,52822.000000
mean,136.697096,1.312912,10.911143,1.676207,8.476688,1.146962,1.236116,7.532507,4.372241,3.227718,12.396084,37.991606,24.144078,-2.858082,61.596573,0.555202,1.074774,54.229137,14.433301
std,76.435149,4.154576,2.312267,0.556118,1.882518,0.539908,5.391327,6.090704,5.612606,6.745659,19.565999,18.566792,8.237524,7.326277,14.648653,1.671324,2.985801,26.344513,2.494705
min,1.000000,0.000000,2.500000,0.010000,2.500000,0.000000,-14.900000,-10.700000,-12.200000,0.000000,0.000000,0.000000,9.800000,-22.600000,33.900000,0.000000,0.000000,2.900000,4.000000
25%,70.000000,0.920897,9.950000,1.410968,7.666667,0.894336,-1.900000,3.900000,1.100000,0.000000,0.000000,33.500000,17.700000,-7.100000,49.900000,0.000000,0.000000,30.900000,13.700000
50%,139.000000,0.995279,10.899613,1.595000,8.375000,1.260000,2.100000,7.600000,4.800000,0.000000,0.000000,42.400000,22.800000,-2.800000,59.700000,0.000000,0.000000,53.100000,15.800000
75%,203.000000,1.081077,11.779075,1.885000,9.166667,1.500000,4.500000,11.400000,7.600000,2.630000,20.830000,50.000000,28.700000,2.000000,72.200000,0.000000,0.200000,76.200000,16.000000
max,265.000000,493.800000,42.130288,4.040000,18.540000,5.310288,17.900000,25.800000,19.500000,38.240000,95.830000,74.000000,46.800000,16.700000,95.800000,10.700000,17.700000,100.000000,16.000000

In [9]:
# store it to CSV file
final.to_csv('../data/curated/final_data_new')

In [10]:
final.head()

,PULocationID,date,income_rate,total_adjusted_amount,trip_distance,fare_amount,tip_amount,tempmin,tempmax,temp,precip,precipcover,windgust,windspeed,dew,humidity,snow,snowdepth,cloudcover,visibility
0,1,2016-12-04,23.368421,17.300000,0.200000,17.000000,0.000000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
1,4,2016-12-04,0.963068,11.791397,1.767352,9.058118,1.545000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
2,7,2016-12-04,1.088859,10.018121,1.596759,7.714427,1.046629,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
3,8,2016-12-04,1.044638,11.745294,2.463333,9.500000,1.550000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0
4,10,2016-12-04,1.278918,16.391960,3.130000,12.400000,2.000000,4.1,8.0,5.8,0.0,0.0,37.1,22.0,-5.1,45.8,0.0,0.0,51.0,16.0