In [28]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

In [29]:
df = pd.read_csv('../data/curated/final_data')

In [30]:
df.head()

,Unnamed: 0,PULocationID,date,income_rate,total_adjusted_amount,temp,dew,humidity,snow,snowdepth,cloudcover,visibility
0,0,1,2016-12-01,6.520399,82.716667,10.5,3.5,64.3,0.0,0.0,63.2,14.3
1,1,4,2016-12-01,5.837888,15.851664,10.5,3.5,64.3,0.0,0.0,63.2,14.3
2,2,7,2016-12-01,5.262054,14.916792,10.5,3.5,64.3,0.0,0.0,63.2,14.3
3,3,8,2016-12-01,5.284849,35.193545,10.5,3.5,64.3,0.0,0.0,63.2,14.3
4,4,9,2016-12-01,3.975165,15.936056,10.5,3.5,64.3,0.0,0.0,63.2,14.3

In [31]:
X = df[['PULocationID','temp','dew','humidity','snow','snowdepth','cloudcover','visibility']]

In [32]:
y = df[['income_rate']]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
    test_size=0.4, shuffle = False)

In [34]:
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, 
    test_size=0.5, shuffle = True, random_state= 42)

In [35]:
X_train

,PULocationID,temp,dew,humidity,snow,snowdepth,cloudcover,visibility
0,1,10.5,3.5,64.3,0.0,0.0,63.2,14.3
1,4,10.5,3.5,64.3,0.0,0.0,63.2,14.3
2,7,10.5,3.5,64.3,0.0,0.0,63.2,14.3
3,8,10.5,3.5,64.3,0.0,0.0,63.2,14.3
4,9,10.5,3.5,64.3,0.0,0.0,63.2,14.3
...,...,...,...,...,...,...,...,...
35280,24,-0.1,-13.0,38.5,0.0,0.0,17.3,16.0
35281,25,-0.1,-13.0,38.5,0.0,0.0,17.3,16.0
35282,26,-0.1,-13.0,38.5,0.0,0.0,17.3,16.0
35283,28,-0.1,-13.0,38.5,0.0,0.0,17.3,16.0
35284,29,-0.1,-13.0,38.5,0.0,0.0,17.3,16.0

In [39]:
### F-test for train 
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, f_regression
SKB = SelectKBest(f_regression, k = 6)
X_new_train = SKB.fit_transform(X_train,y_train)

/opt/miniconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [40]:
SKB.scores_

array([196.5536645 ,  27.50957687,  25.3619389 ,   2.69422721,
         6.12217856,   0.38886219,   8.19611397,  14.01883813])

In [41]:
cols = SKB.get_support(indices=True)
selected_columns = X_new_train.iloc[:,cols].columns.tolist()
selected_columns

['PULocationID', 'temp', 'dew', 'snow', 'cloudcover', 'visibility']

In [25]:
### Standardise
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
X_train.iloc[:, 1:] = SS.fit_transform(X_train.iloc[:, 1:])

/opt/miniconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1835: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [27]:
X_train.to_csv('../data/curated/X_train')
y_train.to_csv('../data/curated/y_train')
X_val.to_csv('../data/curated/X_val')
y_val.to_csv('../data/curated/y_val')
X_test.to_csv('../data/curated/X_test')
y_test.to_csv('../data/curated/y_test')